# Ignore these files when committing to git
**/__pycache__
**/.ipynb_checkpoints
**.DS_Store
**.vscode
**.pyc
**.idea**
**/_gitignore**

cache/copy**
cache/nhp_datasets
cache/sim_motion_estimation
cache/simulated_datasets
cache/spike_sorting**
